@import '../../app/variables';

.Container {
  padding: 3rem 0 6rem 0;
  background-image: url('./bg-sidebar-mobile.svg');
  background-size: cover;

  @media (min-width: $breakPoint) {
    padding: 3rem;
    height: 100%;
    border-radius: 1rem;
    background-image: url('./bg-sidebar-desktop.svg');
  }
}

.Nav {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  justify-content: center;

  @media (min-width: $breakPoint) {
    flex-direction: column;
  }
}
