@import '../../app/variables';

.Footer {
  width: 100%;
  background: var(--background-color);
  padding: 1rem;

  @media (min-width: $breakPoint) {
    padding: 1rem 3rem;
  }

  .ButtonGroup {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-grow: 1;
  }
}
